<div class="sidebar">
  <header>
    <h1>Todo App</h1>
    <hr />
  </header>

  <section  class="navs">
        <a tuiLink class="tui-text_body-xl" routerLink="/workspaces" routerLinkActive="active"  icon="tuiIconFolder" iconAlign="left" >Workspaces</a>
        <a tuiLink class="tui-text_body-xl" routerLink="/schedule" routerLinkActive="active"  icon="tuiIconClock" iconAlign="left" >Schedule</a>
        <a tuiLink class="tui-text_body-xl" routerLink="/today" routerLinkActive="active"  icon="tuiIconSunset" iconAlign="left" >Today</a>
  </section>
</div>
